/* css styles for the password change page */

form 
{
	width: 60%;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
}

input 
{
	padding: 0.5em;
	border-radius: 5px;
	cursor: pointer;
}

input[type=password]
{
	width: 50%;
}

input[type=submit]:hover
{
	background-color: green;
	color: white;
	font-weight: bold;
}

label
{
	text-decoration: bold;
	font-weight: bold;
	margin-bottom: 0.3em;
}

a 
{
	color: darkblue;
	text-decoration: none;
}

a:hover
{
	color: blue;
	text-decoration: underline;
}

form p 
{
	text-align: left;
	width: auto;
}

p.success 
{
	text-align: center;
	color: green;
}

p.error 
{
	text-align: center;
	color: red;
}

@media only screen and (max-width: 950px)
{
	form 
	{
		width: 80%;
		padding: 1em;
		vertical-align: middle;
	}
	
	p 
	{
		width: 100%;
	}
	
	input[type=text]
	{
		width: 100%;
		padding: 6px;
		border-radius: 5px;
	}
}